<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Welcome to Rotten Potatoes!</h1>
            <hr>
            <p>View our trusted movie review from all of the world!</p>
        </div>
    </header>
    <div class="row">
        <% movies.forEach(function (value) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" id="index-header">
                <a href="/movies/<%= value.id %>"><img src="<%= value.poster %>" alt=""></a>
                <div class="caption">
                    <a href="/movies/<%= value.id %>">
                        <strong>
                            <h4>
                                <%= value.title %>
                                <% if (value.year) { %>
                                (<%= value.year %>)
                                <% } else if (value._year_data) { %>
                                (<%= value._year_data %>)
                                <% } %>
                            </h4>
                        </strong>
                    </a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer.ejs %>