<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Searching Result</h1>
        </div>
    </header>
    <div class="row">
        <% movies.forEach(function (value) { %>
            <% if (value.type != "game") { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" id="index-header">
                    <form action="/movies/<%= value.imdbid %>" method="post">
                        <button class="image-button">
                            <img src="<%= value.poster %>" alt="">
                        </button>
                    </form>
                    <div class="caption">
                        <form action="/movies/<%= value.imdbid %>" method="post">
                            <button class="image-button">
                                <a href="#">
                                    <strong>
                                        <h4>
                                            <%= value.title %>
                                            <% if (value.year) { %>
                                            (<%= value.year %>)
                                            <% } else if (value._year_data) { %>
                                            (<%= value._year_data %>)
                                            <% } %>
                                        </h4>
                                    </strong>
                                </a>
                            </button>
                        </form>
                        <i><%= value.type %></i>
                    </div>
                </div>
            </div>
            <% } %>
        <% }) %>
    </div>
</div>

<% include ../partials/footer.ejs %>