<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Searching result</h1>
        </div>
    </header>
    <div class="row">
        <% movies.forEach(function (value) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" id="index-header">
                <img src="<%= value.poster %>" alt="No Poster">
                <div class="caption">
                    <strong><h4><%= value.title %>  (<%= value.year %>)</h4></strong>
                    <i><%= value.type %></i>
                </div>
                <p><a href="/movies/<%= value.imdbid %>" class="btn btn-primary">More Info</a></p>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer.ejs %>