<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Searching result</h1>
        </div>
    </header>
    <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
    <% } else { %>
    <div class="row">
        <% movies.forEach(function (value) { %>
            <% if (value.type != "game") { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" id="index-header">
                    <img src="<%= value.poster %>" alt="">
                    <div class="caption">
                        <strong><h4><%= value.title %>  (<%= value.year %>)</h4></strong>
                        <i><%= value.type %></i>
                    </div>
                    <form action="/movies/<%= value.imdbid %>" method="post">
                        <div class="form-group">
                            <button class="btn btn-primary">More Info</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        <% }) %>
    </div>
    <% } %>
</div>

<% include ../partials/footer.ejs %>