<% include ../partials/header.ejs%>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= movie.poster %>" alt="The poster of <%= movie.title %>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pull-left"><a href="<%= movie.imdburl %>"><%= movie.title %></a></h2>
                    <h2 class="pull-right"><i><%= movie.year %></i></h2>
                </div>
            </div>

            <div class="movie-basic row">
                <div class="col-md-12">
                    <hr><strong>Runtime: </strong><%= movie.runtime %>
                </div>
                <div class="col-md-12">
                    <strong>Language: </strong><%= movie.languages %>
                </div>
                <div class="col-md-12">
                    <strong>Country: </strong><%= movie.country %>
                </div>
                <div class="col-md-12">
                    <strong>Genres: </strong><%= movie.genres %>
                </div>
                <div class="col-md-12">
                    <strong>Director: </strong><%= movie.director %>
                </div>
                <div class="col-md-12">
                    <strong>Writer: </strong><%= movie.writer %>
                </div>
                <div class="col-md-12">
                    <strong>Actors: </strong><%= movie.actors %>
                </div>
                <div class="col-md-12">
                    <Strong>Awards: </Strong><%= movie.awards %>
                </div>
                <div class="col-md-12">
                    <Strong>Rating: </Strong><%= movie.rating %> (IMDB)
                </div>
            </div>

            <div class="movie-detail row">
                <div class="col-md-12">
                    <hr><p><%= movie.plot %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/movies/<%= movie._id %>/comments/new">Add a new comment</a>
                </div>
                <% if (movie.comments) { %>
                    <% movie.comments.forEach(function (value) { %>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= value.author.username %></strong>
                            <span class="comment-rating">
                                <% for (var i = 1; i <= value.rating; i++) { %>
                                <i class="fas fa-star"></i>
                                <% } %>
                                <% if (value.rating * 2 % 2 === 1) { %>
                                <i class="fas fa-star-half"></i>
                                <% } %>
                            </span>
                            <span class="pull-right"><%= value.created.toDateString() %></span>
                            <p class="comment-text"><%= value.text %></p>
                            <% if (currentUser && value.author.id.equals(currentUser._id)) { %>
                            <form class="delete-form pull-right" action="/movies/<%= movie._id %>/comments/<%= value.id %>?_method=DELETE" method="post">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <a class="btn btn-xs btn-warning pull-right" href="/movies/<%= movie._id %>/comments/<%= value._id %>/edit">Edit</a>
                            <% } %>
                        </div>
                    </div>
                    <% })%>
                <% } %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>